#soggycat {
    width: 500px;
    height: 100px;
}

#content {
  place-self: center;
  max-width: 1280px;
  margin: 7% 0 0 0;
  padding: 2rem;
  text-align: center;
}

.art {
  display: flex;
  max-width: 200px;
  max-height: 200px;
}

.artImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageDesc {
  font-size: 10px;
  text-align: left;
  margin-top: 8rem;
  display: flex;
  position: absolute;
}

.imageAuthor {
  font-size: 10px;
  text-align: left;
  margin-top: 9rem;
  display: flex;
  position: absolute;
}
.imageDate {
  font-size: 10px;
  text-align: left;
  margin-top: 10rem;
  display: flex;
  position: absolute;
}