@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/jbmono.ttf') format('truetype');
}

:root {
  font-family: 'JetBrains Mono', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: all cubic-bezier(0.99, 0.975, 0.965, 1) 0.3s;
}

a {
  font-weight: 500;
  color: #f8f8f8;
  text-decoration: inherit;

  transition: all cubic-bezier(0.175, 0.885, 0.32, 1) 0.3s;
}

a:hover {
  color: #787878;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.8em;
  line-height: 0.9;
}

h5 {
  font-size: 0.6em;
  line-height: 0.5;
}

#main {
  place-self: top;
  max-width: 1280px;
  max-height: 10%;
  height: 10%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.spacing {
  margin: 5rem;
  padding: 4rem 0;
}

.small-spacing {
  margin: 1rem;
  padding: 0.5rem 0;
}

.hidden {
  display: none;
}
