@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/JetBrainsMono[wght].ttf');
}

:root {
  font-family: 'JetBrains Mono', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: all cubic-bezier(0.99, 0.975, 0.965, 1) 0.3s;
}

a {
  font-weight: 500;
  color: #f8f8f8;
  text-decoration: inherit;

  transition: all cubic-bezier(0.175, 0.885, 0.32, 1) 0.3s;
}

a:hover {
  color: #787878;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

#header {
  place-self: top;
  max-width: 1280px;
  max-height: 10%;
  height: 10%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#content {
  place-self: center;
  max-width: 1280px;
  margin: 25% 0 0 0;
  padding: 2rem;
  text-align: center;
}

.spacing {
  margin: 5rem;
  padding: 4rem 0;
}

.small-spacing {
  margin: 1rem;
  padding: 0.5rem 0;
}

#members {
  display: flex;
}

.person {
  margin: 0 1rem;
  padding: 0 1rem;
  text-align: center;
  border: 1px solid #444;
  border-radius: 5%;
  width: 300px;
  height: 550px;
}

.pfp {
  padding-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.member-desc {
  font: 10px 'JetBrains Mono Light', Avenir, Helvetica, Arial, sans-serif;
}

#n4c {
  background-image: linear-gradient(180deg, #ff00ff99, #66336666);
  border: 1px solid #ff00ff;

  transition: all cubic-bezier(0.175, 0.885, 0.32, 1) 0.3s;
}

#n4c:hover {
  background-image: linear-gradient(180deg, #66336666, #ff00ff99);
  border: 1px solid #ff99ff;

  transition: all cubic-bezier(0.175, 0.885, 0.32, 1) 0.3s;
}

#aaron {
  background-image: linear-gradient(160deg, #22ff1166, #aaaa0099);
  border: 1px solid #66ff7799;

  transition: all cubic-bezier(0.175, 0.885, 0.32, 1) 0.3s;
}

#aaron:hover {
  background-image: linear-gradient(160deg, #aaaa0099, #22ff1166);
  border: 1px solid #44ee8855;

  transition: all cubic-bezier(0.175, 0.885, 0.32, 1) 0.3s;
}

#julibros {
  background-image: linear-gradient(200deg, #ff000099, #00000099);
  border: 1px solid #ff0000;

  transition: all cubic-bezier(0.175, 0.885, 0.32, 1) 0.3s;
}

#julibros:hover {
  background-image: linear-gradient(200deg, #00000099, #ff000099);
  border: 1px solid #ff3333;

  transition: all cubic-bezier(0.175, 0.885, 0.32, 1) 0.3s;
}
